<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>deixe sua mensagem</title>
</head>
<body>
     <!--Cabeçalho ou Início do meu site-->
   <header style="display: flex;">
    <!--Section Foto de perfil-->
    <section>
        <img src="suzy.jfif" alt="Imagem de perfil" height="100px" width="100px">
    </section>
    <!--Section Informações Pessoais-->
    <section>
        <br> <br>
        &nbsp;&nbsp;&nbsp;
        PedroHenrique | 15 Anos | @pehenrique.fl | <br>
        &nbsp;&nbsp; pedrohenriquefranciscoleite@gmail.com | aries
    </section>
</header>
<!--Navegação da minha página-->
<nav>
    <!--Tag <a href=""> refere-se ao link de navegação-->
        <hr>
    <a href="mySite.html">Eu e Eu mesmo</a>
    <a href="entretenimento.html">Entretenimento</a>
    <a href="musicas.html">Músicas</a>
    <a href="contato.html">Fale comigo</a>
        <hr>
</nav>

<article>
    <form action="#">
        <label for="nome">nome:</label>
        <input type="text" name="nome" id="nome">
        <br><br>
        <label for="email">email:</label>
        <input type="text" name="email" id="email">
        <br><br>
        <label for="WhatsAPP">WhatsAPP:</label>
        <input type="text" name="WhatsAPP" id="WhatsAPP">
        <br><br>
        <label for="data de nascimento">data de nascimento</label>
        <input type="text" name="data de nascimento" id="data de nascimento">
        <br><br>
        <p>deixe sua mensagem</p>
        <textarea name="mensagem" id="" cols="30" rows="10"></textarea>
        <br>
        <input type="submit" value="enviar">

        <br><br><br>
        <footer>
            <small>by pedro henrique;</small>
        </footer>

    </form>
</article>
</body>
</html>