<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entretenimento</title>
</head>
<body>
    <!--Cabeçalho ou Início do meu site-->
        <header style="display: flex;">
      
        <section>
            <img src="suzy.jfif" alt="Imagem de perfil" height="100px" width="100px">
        </section>
        <!--Section Informações Pessoais-->
        <section>
            <br> <br>
            &nbsp;&nbsp;&nbsp;
            PedroHenrique | 15 Anos | @pehenrique.fl | <br>
            &nbsp;&nbsp; pedrohenriquefranciscoleite@gmail.com | aries
        </section>
    </header>
    <!--Navegação da minha página-->
    <nav>
        <!--Tag <a href=""> refere-se ao link de navegação-->
            <hr>
        <a href="mySite.html">Eu e Eu mesmo</a>
        <a href="entretenimento.html">Entretenimento</a>
        <a href="musicas.html">Músicas</a>
        <a href="contato.html">Fale comigo</a>
            <hr>
    </nav>->
    

    <!--Seção de Entretenimento-->
    <article>
     <h3>peaky blinder</h3>
     <h5>curto 5/5</h5>
     <p>
        <img src="peaky.jfif" alt="peaky blinders" height="100px" width="80px">
     </p>
     <p>
        <strong>peaky blinders</strong> e uma serie sobre ingleses com raiva
     </p>
     <p>
        pra conhecer mais <a href="">clique aqui</a>
     </p>
    </article>

    <article>
        <h3>the owl house</h3>
        <h5>5/5</h5>
        <p>
            <img src="the owl.jpg" alt="" height="100px" width="=80px">
        </p>
        <p>
            <strong>the owl house</strong> e sobre uma garota humana qua vai para um mundo de demonios <br>
            e bruxas viver altas aventuras e se envolver romanticamente com uma bruxa
        </p>
        <p>
             pra conhecer mais <a href="">clique aqui</a>
        </p>
    </article>

    <article>
        <h3>steven universo</h3>
        <h5>5/5</h5>
        <p>
            <img src="su.jfif" alt="" height="100px" width="80px">
        </p>
        <p>
            <strong>steven universo</strong> e sobre um hibrido de alien e humano com poderes da pedra
            </p>
            <p>
                pra conhecer mais <a href="">clique aqui</a>
            </p>

            
    </article>
    <h3>miraculous</h3>
    <h5>5/5</h5>
<p>

    <img src="miraculous.jfif" alt="" height="100px" width="80px">
    </p>
    <p>
        <strong>miraculous</strong> e sobre uma garota que ganha poderes magicos com brincos
        </p>
        <p>
            pra conhecer mais  <a href="">clique aqui</a>
            </p>
    
</body>
</html