<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top 10 BregaFunk</title>
</head>
<body>
   <!--Cabeçalho ou Início do meu site-->
   <header style="display: flex;">
    <!--Section Foto de perfil-->
    <section>
        <img src="suzy.jfif" alt="Imagem de perfil" height="100px" width="100px">
    </section>
    <!--Section Informações Pessoais-->
    <section>
        <br> <br>
        &nbsp;&nbsp;&nbsp;
        PedroHenrique | 15 Anos | @pehenrique.fl | <br>
        &nbsp;&nbsp; pedrohenriquefranciscoleite@gmail.com | aries
    </section>
</header>
<!--Navegação da minha página-->
<nav>
    <!--Tag <a href=""> refere-se ao link de navegação-->
        <hr>
    <a href="mySite.html">Eu e Eu mesmo</a>
    <a href="entretenimento.html">Entretenimento</a>
    <a href="musicas.html">Músicas</a>
    <a href="contato.html">Fale comigo</a>
        <hr>
</nav>

<!--aqui comeca minha lista-->
<main>
    <ol>
        <li>lana del rey - nfr</li>
        <li>miley cyrus - angels like you</li>
        <li>lady gaga - bad romance</li>
        <li>beyonce - summer reinassence</li>
        <li>rihanna - love on the brain</li>
        <li>celine dion - all by my self</li>
        <li>ariana grande - positions</li>
        <li>mariah carey - emotions</li>
        <li>lizzy grant - kill kill</li>
        <li>djavan - oceano</li>
    </ol>
</main>
<!--rodape-->
<footer>
    by pedro henrique &copy;
</footer>
</body>
</html>